.header-widget {
  background-color: var(--top-bar-bg-color);
  background: var(--top-bar-bg-color);
}
.header-widget a {
  color: var(--primary-text-color);
}
.header-widget h3 {
  font-weight: bold;
}
.header-widget .is-dark {
  background: var(--top-bar-bg-color);
}

#navbar {
  background-color: var(--top-bar-bg-color);
  background: var(--top-bar-bg-color);
}