.header-widget {
  background-color:  var(--top-bar-bg-color);
  background:  var(--top-bar-bg-color);

  a {
    color: var(--primary-text-color);
  }

  h3 {
    font-weight: bold;
  }

  .is-dark{
    background: var(--top-bar-bg-color);
  }
  
  
}

#navbar{
  background-color:  var(--top-bar-bg-color);
  background:  var(--top-bar-bg-color);
}


