.header-widget {
  background-color:  var(--top-bar-bg-color);
  background:  var(--top-bar-bg-color);

  a.button.is-dark {
    color: var(--primary-text-color);
  }

  i {
    margin: 0 8px;
  }
  
  h3 {
    font-weight: bold;
  }

  .is-dark{
    background: var(--top-bar-bg-color);
  }
  
  
}

#navbar{
  background-color:  var(--top-bar-bg-color);
  background:  var(--top-bar-bg-color);
}


